<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Basic Page Needs ================================================== -->
    <meta charset="utf-8">

    <!-- Mobile Specific Metas ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Site Title -->
    <title>Hackathon</title>

    <!-- CSS
         ================================================== -->
    <!-- Bootstrap -->

    <link href="../static/images/logos/web_icon.png" rel="icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <!-- Template styles-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Responsive styles-->
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="banner_area">
            <div class="select_area">
                <div class="nft_title">
                    <img src="../static/images/main_icon.png" alt="">
                </div>
                <div class="download_file_type">
                    <div class="download_file_type_title">
                        Image
                    </div>
                    <div class="download_file_type_text">
                        <ul>
                            <li>Bmp</li>
                            <li>Gif</li>
                            <li>Jpg</li>
                            <li>Png</li>
                        </ul>
                        <ul>
                            <li>Raw</li>
                            <li>Tiff</li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <hr>
                </div>
                <div class="download_file_type">
                    <div class="download_file_type_title">
                        Sound
                    </div>
                    <div class="download_file_type_text">
                        <ul>
                            <li>Wav</li>
                            <li>Wma</li>
                            <li>Mp3/mp4</li>
                        </ul>
                    </div>
                    <hr>
                </div>
                <div class="download_file_type">
                    <div class="download_file_type_title">
                        Video
                    </div>
                    <div class="download_file_type_text">
                        <ul>
                            <li>Mkv</li>
                            <li>AVi</li>
                            <li>Fiv</li>
                            <li>Mov</li>
                        </ul>
                    </div>
                    <hr>
                </div>
                <div class="download_file_type">
                    <div class="download_file_type_title">
                        Document
                    </div>
                    <div class="download_file_type_text">
                        <ul>
                            <li>PDF</li>
                            <li>Ppt</li>
                            <li>Doc/docx</li>
                            <li>Xls</li>
                        </ul>
                        <ul>
                            <li>ai</li>
                            <li>Psd</li>
                            <li>Hwp</li>
                            <li>Txt</li>
                        </ul>
                    </div>
                </div>
                <div class="select_area_footer">
                    Copyright ©2021. <br>
                    CenterPrime All rights reserved.
                </div>
            </div>
            <!-- <img src="/images/nft.png" alt=""> -->
        </div>

        <div class="body_area ">

            <div class="container">
                <div class="row">
                    <div class="wallet_adress col-lg-12 mx-auto">
                        <p> {{ address }}</p>
                    </div>
                </div>

{#                {% for item in items %}#}
{#                    <div class="row files">#}
{#                        <div class="view_file_name col-lg-6 ">#}
{#                            <p>item.fileId</p>#}
{#                        </div>#}
{#                        <div class=" col-lg-3 ">#}
{#                            <p>item.fileType</p>#}
{#                        </div>#}
{#                        <div class="view_file col-lg-3 " data-toggle="modal" data-target="#video_modal">#}
{#                            <p>view file</p>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}

                <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <!-- Button trigger modal -->


                        <!-- Modal -->
                        <div class="modal fade" id="video_modal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">(file type)</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p></p>
                                        <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
                                              AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
                                                  9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot"/>
                                    </div>
                                    <!-- <div class="modal-footer">

                                    </div> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>


</div>


<!-- Javascript Files
        ================================================== -->

<!-- initialize jQuery Library -->
<script src="../static/js/jquery.js"></script>

<script src="../static/js/popper.min.js"></script>
<!-- Bootstrap jQuery -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Counter -->

<!-- Template custom -->
<script src="../static/js/main.js"></script>
<!-- Body inner end -->
</body>

</html>